<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WallWhiz"
        tools:targetApi="31">
        <activity
            android:name=".FramesSelection"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sign_Up"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Forget_password"
            android:exported="true" />
        <activity
            android:name=".Size_check"
            android:exported="true" />
        <activity
            android:name=".Upload_image"
            android:exported="true" />
        <activity
            android:name=".Layout1"
            android:exported="true" />
        <activity
            android:name=".Layout2"
            android:exported="true" />
        <activity
            android:name=".Layout3"
            android:exported="true" />
        <activity
            android:name=".Layout4"
            android:exported="true" />
        <activity
            android:name=".Glass_frames"
            android:exported="true" />
        <activity
            android:name=".Admin_profile"
            android:exported="true" />
        <activity
            android:name=".fabric_frames"
            android:exported="true" />
        <activity
            android:name=".Delivery"
            android:exported="true" />
        <activity
            android:name=".Edit_profile"
            android:exported="true" />
        <activity
            android:name=".Order"
            android:exported="true" />
        <activity
            android:name=".Orderlist"
            android:exported="true" />
        <activity
            android:name=".Layout5"
            android:exported="true" />
        <activity
            android:name=".Layout6"
            android:exported="true" />
        <activity
            android:name=".Layout7"
            android:exported="true" />
        <activity
            android:name=".Plastic_frames"
            android:exported="true" />
        <activity
            android:name=".Ar"
            android:exported="true" />
        <activity
            android:name=".Metal_frames"
            android:exported="true" />
        <activity
            android:name=".Review_comments"
            android:exported="true" />
        <activity android:name=".Wooden_frames"
            android:exported="true" />



    </application>

</manifest>